*.pyc
*.swp
*.pdf*
*.csv*
*.npz*
*.npy*
.DS_Store
results/
*.mp4
movies/
__pycache__
dist/
*.egg-info/
build/
config.py
.idea/
db/credentials.py
*.png
*.dump
logs
mksegs.sh
exps.sh
analysis_data
synth_invariance_v2_synth_connectomics_test_size_1
cifs*
neurips*
*bsds_*/
gratings/
multicue*
TB_images
berson*
snemi*
*.pdf
models/gammanet_bsds_gratings_*


